body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    justify-content: center;
    align-items: center;
    background-color: black;
}

#grid-container {
    display: flex;
    height: 80vh;
    width: 80vh;
    flex-wrap: wrap;
}

.grid-block {
    flex: auto;
    border: 1px, solid, white;
}