* {
    color: white;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#options {
    display: flex;
    align-items: center;
    justify-content: center;
}

#options > div {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
}
#options h3 {
    padding: 5px;
}

#grid-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    min-width: 50vh;
    flex-wrap: wrap;
    border: 1px, solid, white;
}